.app {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1c;
  color: white;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}