.app {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  background-color: #1c1c1c;
  color: white;
  overflow-x: none;
}

.appContent {
  flex: 1;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}